<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">

    <display-name>
        Restaurant
    </display-name>
    
    <description>
        Restaurant Description
    </description>
    
    <servlet>
        <servlet-name>RestaurantMenu</servlet-name>
        <description>Menu Presentation</description>
        <servlet-class>menureserve.RestaurantMenu</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RestaurantMenu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    
    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>

</web-app>
